<div class="file__wrapper">
  <label class="file__label" for="{{ name }}">{{ label }}</label>
    <input 
      class="file__control" 
      type="file" 
      name="{{ name }}" 
      id="{{ name }}" 
      />
</div>
