<div class="chat__wrapper">
  <div class="chat__sidebar">
    <div class="chat__sidebar_header">
      <div class="chat__sidebar_header_options">
        {{> Button 
          type="button" 
          style="icon icon-options"
          title=""
          }}
        {{> Dropdown list=options position="top-left" }}
      </div>
      <form class="chat__sidebar_header_search">
        {{> Input type="text" name="search" placeholder="Search" style="input__control--sidebar"}}
        {{> Button type="submit" name="search-submit" style="icon icon-search"}}
      </form>
    </div>
    <div class="chat__sidebar_contactslist">
      {{#each contacts}}
        {{> SidebarContact 
          name=name
          message=message
          date=date
          count=count
          }}
      {{/each}}
    </div>
  </div>

  <div class="chat__content" id="chat-content">
    {{#if currentChatContact}}
    <div class="chat__content_header">
      <div class="chat__content_header-avatar">
        {{#if currentChatContact.avatar}}
        <img src="{{currentChatContact.avatar}}" alt="{{currentChatContact.name}}">
        {{/if}}
      </div>
      <div class="chat__content_header-name">{{currentChatContact.name}}</div>
      <div class="chat__content_header-settings">
        {{> Button 
          type="button" 
          style="icon icon-menu"
          title=""
          }}
        {{> Dropdown list=contactOptions position="top-right" }}
      </div>
    </div>

    <div class="chat__content_body">
      {{#each messages}}
      {{> Message style=author body=content date=date }}
      {{/each}}
      <div class="chat__content_body_timedelimeter">Today</div>
    </div>

    <form class="chat__content_form">
      <div class="chat__content_form_attach">
        {{> Button 
          type="button" 
          style="icon icon-attach"
          title=""
          }}
          {{> Dropdown list=attachOptions position="bottom-left" }}
      </div>
      <div class="chat__content_form_text">
        <textarea class="textarea__control" name="message" id="message" rows="1" placeholder="What's up?"></textarea>
      </div>
      {{> Button type="submit" style="icon icon-send btn-send" title=""}}
    </form>

    {{else}}
    
    <div class="chat__content_empty">
      <p>Click a chat to start messaging</p>
    </div>

    {{/if}}
  </div>
</div>

{{> ModalAddContact }}
{{> ModalRemoveContact}}