<div class="profile">
  {{> ProfileBack }}
  
  <div class="profile__content">
    {{> ProfileAvatar }}
    <form class="profile__content_form">
      <div class="profile__content_form_row">
        <span>Current password</span>
        {{> Input name="password" type="password" autocomplete="current-password" value="password!Q.0" }}
      </div>
      <div class="profile__content_form_row">
        <span>New password</span>
        {{> Input name="newpassword" type="password" autocomplete="new-password" }}
      </div>
      <div class="profile__content_form_row">
        <span>Repeat new password</span>
        {{> Input name="repeatpassword" type="password" autocomplete="new-password" }}
      </div>
    </form>
    <div class="profile__content_controls">
      <div class="profile__content_controls_row">
        {{> Button type="button" style="primary" title="Save changes" id="profileBack"}}
      </div>
    </div>
  </div>
</div>