<div id="add-contact" popover class="modal text-center">
  <form class="modal__form">
    <h4 class="modal__title">Add new contact</h4>
    {{> Input type="text" label="Login" name="user-login" style="text-left" }}
    {{> Button style="primary" type="submit" title="Add" }}
  </form>
</div>