<div id="change-avatar" popover class="modal text-center">
  <form class="modal__form">
    <h4 class="modal__title">Upload photo</h4>
    {{> File name="avatar" label="Choose a file on your computer" }}
    {{> Button style="primary" type="submit" title="Upload" }}
  </form>
</div>
