<div class="profile__content_avatar">
  <button
    type="button"
    class="profile__content_avatar_control"
    popovertarget="change-avatar" 
    popovertargetaction="show"
  >Change avatar</button>
</div>

{{> ModalAvatar }}
